@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
//Variables
$navigation-color:   #6495ED;
$article-background: white;
$page-background: #FAEBD7;
$visited: #FAEBD7;
$active: #DEB887;
$date-color: grey;
$visitedtwo: #6495ED;
$color-black: black;
$big-screen: 50em;
$font-body: Helvetica, Arial, sans-serif;



//Nesting
header {
    hr{
        width: 90%;
        text-align: center;
        margin-left: 5%;
        
        
        
       }

    li {
        list-style-type: none;
        padding: 2%;
      }

    h1{
        background-color: 'Lora';
        text-align: right;
        padding: 20px 30px 10px 0;
        
    }

    background-color: $navigation-color;   
   
}

main{
    background-color: $page-background;
    border-style: solid;
    border-color: $page-background;
   
    
  
}


nav{
    text-align: right;
    color: $visited;
    padding: 20px 30px 10px 0;   
    
    & :hover{
        color: $article-background;
        text-decoration: underline;  
}

    & :active{
    color: $active;
}
   
}  
 

article{
    background-color: $article-background;
    text-align: center;
    margin: 3vw 5vw;
    padding: 35px 30px;
    box-shadow: 5px 5px 5px #D3D3D3;
    width: 70%;
    margin-left: 10%;
    font-family: $font-body;

    h1{
        font-family: 'Lora';
    }
  
    h2 {
        text-decoration: none;
        text-align: left;
        padding: 5%;
        font-family: 'Lora';

        & :visited{
            color: black;

        }

        & :active{
            color: $active;
        }

        & :hover{
            color: $visitedtwo ;
        }



    }

    .post-date {
        text-align: left;
        color: $date-color;
        font-weight: bold;
    }


    img{
        width: 50%;
    }   


     p{
         padding: 5%;
    //    font-weight: bolder;
    //    font-size: 40px;


       & :visited{
           color: $visitedtwo;
       }

       & :active{
         color: $active;  
       }

       & :hover{
           text-decoration: underline;
       }
    }

    
}

* {
    margin:  0;
    text-decoration: none;
    margin: 0;
    padding: 0;
}



// Mixin
@media (min-width: $big-screen) {
     
    @mixin flex-container() {
        display: flex;
        right: 0; 
    
    header{

        li{
            padding: 5%;
            font-size: large;
        }
          

    }
      
          
    }
    body > div {
        @include flex-container;        
    }
 }


